body {
    font-family: "Lato", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: normal;
    background: url("../img/bg.jpg");
    background-size: cover;
    color: gray;
}