{% extends "base_user.html" %}
{% load static %}

 

{% block content %}

<style>
 .about-picture{
    /* border-radius: 50%; */
    height: 150px; 
    width: 150px; 
    margin: 0 auto;
    margin-top: 15px;
    box-shadow: 5px 5px 10px gray;
 }
 .card-dodong{
     padding: 10px;
     margin-top: 15px;
     max-height: 800px;
     height: 100%;
     transition:  0.35s;
     border: 1px solid gainsboro;
     box-shadow: 5px 5px 10px gainsboro;
 }
 .card-dodong:hover{
    transform: translateY(-0.25em);
 }
 .a-get{
     transition: 0.5s;
 }
 .a-get:hover,.a-get:focus:hover{
     transform: translateY(-0.40em);
 }
 @media (max-width:1200px ) {
     .about-picture{
         height: 100px;
         width: 100px;
     }
     .card-dodong{
         font-size: 12px;
         height: 100%;
     }
 }
 @media (max-width:768px) {
     .border-mid{
         display: none;
     }
 }
</style>
<body>
  <!-- Carousel wrapper -->
  <div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong" data-mdb-ride="carousel">
    <!-- Indicators -->
    <!-- <ol class="carousel-indicators">
      <li data-mdb-target="#introCarousel" data-mdb-slide-to="0" class="active"></li>
      <li data-mdb-target="#introCarousel" data-mdb-slide-to="1"></li>
      <li data-mdb-target="#introCarousel" data-mdb-slide-to="2"></li>
    </ol> -->

    <!-- Inner -->
    <div class="carousel-inner">
      <!-- Single item -->
      <div class="carousel-item active">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white text-center">
              <h1 class="mb-1">TeknoTrade: A Technologian Barter System with auto-tagging technology and distance based filtering</h1>
              <br>
              <h5 class="mb-1">We help you find what you we're looking for</h5>
              <!-- <a
                class="btn btn-outline-light btn-lg m-2"
                href="/establishments-login"
                role="button"
                rel="nofollow"
                target="_blank"
                >Already have an account? Log-in</a
              >
              <a class="btn btn-outline-light btn-lg m-2"
                href="/establishments-registration"
                target="_blank"
                role="button" >Sign up for an establishment account</a > -->
            </div>
          </div>
        </div>
      </div>

    <!-- Controls -->
    <!-- <a class="carousel-control-prev" href="#introCarousel" role="button" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#introCarousel" role="button" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> -->
  </div>
  <!-- Carousel wrapper -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main class="mt-5">
  <div class="container">
    <!--Section: Content-->
    <section id="about-us">
        <h4 class="display-4 text-center">THE TEAM</h4>
        <hr>
        <div class="container" >
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-dodong">
                        <div style="border-radius: 50%;" class="bg-image hover-overlay ripple about-picture" data-mdb-ripple-color="light">
                            <img src="{% static 'img/image1.jpg' %}"
                              class="img-fluid" height="100%"/>
                            <a href="#!">
                              <div class="mask" style="background: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title text-center">Fatima Marie Montesclaros</h4>
                            <p class="card-text text-center"><strong>Backend Developer</strong></p>
                            <p class="card-text text-md-left">
                            <b>Professional Goals:</b> <i>Software Engineer</i> <br>
                            <b>Hobbies:</b> Cleaning, Babysitting, Listening to music, Watching Movies, Travelling, Making DIY projects, Decorating <br>
                            <b>Skills:</b> Versatile, Life-long learner, Team Player, Time Management, Multitasking, Motivated, Organized, Versatile <br>
                            <b>Areas of Expertise:</b> <i>Java, Python, C#, C, Git, PHP, MySQL, WordPress</i>
                            </p>
                        </div>
                        <hr>
                        <li class="nav-item me-3 me-lg-0 d-flex flex-row justify-content-center mb-2" style="list-style: none; text-align: center;">
                            <a class="nav-link a-get" href="https://www.facebook.com/f.marieIT" rel="nofollow"
                              target="_blank">
                              <i class="fab fa-facebook text-primary fa-2x"></i>
                            </a>
                            <a class="nav-link a-get" href="#" rel="nofollow"
                            >
                              <i class="fab fa-twitter text-primary fa-2x"></i>
                            </a>
                            <a class="nav-link a-get" href="https://github.com/fmarie-it" rel="nofollow"
                            >
                            <i class="fab fa-github text-dark fa-2x"></i>
                          </a>
                        </li>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-dodong">
                        <div style="border-radius: 50%;" class="bg-image hover-overlay ripple about-picture" data-mdb-ripple-color="light">
                            <img src="{% static 'img/image3.jpg' %}"
                              class="img-fluid" height="100%"/>
                            <a href="#!">
                              <div class="mask" style="background: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title text-center">Emmanuel Rabe</h4>
                            <p class="card-text text-center"><strong>Backend Developer</strong></p>
                            <p class="card-text text-md-left">
                              <b>Professional Goals:</b> <i>Web Developer</i> <br>
                              <b>Hobbies:</b> Reading manhwa, Playing guitar, Watching movies <br>
                              <b>Skills:</b> Team Player <br>
                              <b>Areas of Expertise:</b> Python, Html, Css , Java, C <i>Python</i>
                            </p>
                        </div>
                        <hr>
                        <li class="nav-item me-3 me-lg-0 d-flex flex-row justify-content-center mb-2" style="list-style: none; text-align: center;">
                            <a class="nav-link a-get" href="https://www.facebook.com/emanemanr" rel="nofollow"
                              target="_blank">
                              <i class="fab fa-facebook text-primary fa-2x"></i>
                            </a>
                            <a class="nav-link a-get" href="#" rel="nofollow"
                            target="_blank">
                              <i class="fab fa-twitter text-primary fa-2x"></i>
                            </a>
                            <a class="nav-link a-get" href="https://github.com/Supermaneman" rel="nofollow"
                            target="_blank">
                            <i class="fab fa-github text-dark fa-2x"></i>
                          </a>
                        </li>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-dodong">
                        <div style="border-radius: 50%;" class="bg-image hover-overlay ripple about-picture" data-mdb-ripple-color="light">
                            <img src="{% static 'img/image2.jpg' %}"
                              class="img-fluid" height="100%"/>
                            <a href="#!">
                              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title text-center">John Efren Pila</h4>
                            <p class="card-text text-center"><strong>Front-end Developer</strong></p>
                            <p class="card-text text-md-left">
                            <b>Professional Goals:</b> <i>Full Stack Developer</i> <br>
                            <b>Hobbies:</b> Listening to music, Go to relaxing places, Adventurous, Eating <br>
                            <b>Skills:</b> Fast Learner, Multitasking, Funny <br>
                            <b>Areas of Expertise:</b> <i>Python, Java, Reactjs, PHP, HTML</i>
                            </p>
                        </div>
                        <hr>
                        <li class="nav-item me-3 me-lg-0 d-flex flex-row justify-content-center mb-2" style="list-style: none; text-align: center;">
                            <a class="nav-link a-get" href="https://www.facebook.com/johnefrenpila" rel="nofollow"
                              target="_blank">
                              <i class="fab fa-facebook text-primary fa-2x"></i>
                            </a>
                            <a class="nav-link a-get" href="#" rel="nofollow"
                            target="_blank">
                              <i class="fab fa-twitter text-primary fa-2x"></i>
                            </a>
                            <a class="nav-link a-get" href="https://github.com/JohnPila" rel="nofollow"
                            >
                            <i class="fab fa-github text-dark fa-2x"></i>
                          </a>
                        </li>
                    </div>
                </div>
              
            </div>
            <hr class="mt-5 border-mid">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-dodong">
                        <div style="border-radius: 50%;" class="bg-image hover-overlay ripple about-picture" data-mdb-ripple-color="light">
                            <img src="{% static 'img/image4.jpg' %}"
                              class="img-fluid" height="100%"/>
                            <a href="#!">
                              <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>   
                            </a>
                        </div>
                        
                        <div class="card-body">
                            <h4 class="card-title text-center">Venz Harold Cañeda</h4>
                            <p class="card-text text-center"><strong>Front-end Developer</strong></p>
                            <p class="card-text text-md-left">
                            <b>Professional Goals:</b> <i>Web Designer</i> <br>
                            <b>Hobbies:</b> Watching Movies/Anime, Reading Manga/Manhwa/Manhua, Playing PC Games <br>
                            <b>Skills:</b> Great Listener, Team player <br>
                            <b>Areas of Expertise:</b> <i>Python, Java, JS, PHP, HTML</i>
                          </p>
                        </div>
                        <hr>
                        <li class="nav-item me-3 me-lg-0 d-flex flex-row justify-content-center mb-2" style="list-style: none; text-align: center;">
                            <a class="nav-link a-get" href="https://www.facebook.com/venzharold" rel="nofollow"
                              target="_blank">
                              <i class="fab fa-facebook text-primary fa-2x"></i>
                            </a>
                            <a class="nav-link a-get" href="#" rel="nofollow"
                            >
                              <i class="fab fa-twitter text-primary fa-2x"></i>
                            </a>
                            <a class="nav-link a-get" href="https://github.com/gladeii" rel="nofollow"
                            >
                            <i class="fab fa-github text-dark fa-2x"></i>
                          </a>
                        </li>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-dodong">
                        <div style="border-radius: 50%;" class="bg-image hover-overlay ripple about-picture" data-mdb-ripple-color="light">
                            <img src="{% static 'img/image5.png' %}"
                              class="img-fluid" height="100%"/>
                            <a href="#!">
                              <div class="mask" style="background: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title text-center">John Philip Samson</h4>
                            <p class="card-text text-center"><strong>Front-end Developer</strong></p>
                            <p class="card-text text-md-left">
                            <b>Professional Goals:</b> <i>Web Developer</i> <br>
                            <b>Hobbies:</b> Playing Online Games, Basketball, Taking care of pets, Watching movies <br>
                            <b>Skills:</b> Listening, Communication, Adaptability skills <br>
                            <b>Areas of Expertise:</b> <i>Python, Wordpress, Html, Css, Java</i>
                            </p>
                        </div>
                        <hr>
                        <li class="nav-item me-3 me-lg-0 d-flex flex-row justify-content-center mb-2" style="list-style: none; text-align: center;">
                            <a class="nav-link a-get" href="https://www.facebook.com/EphilipsY" rel="nofollow"
                              target="_blank">
                              <i class="fab fa-facebook text-primary fa-2x"></i>
                            </a>
                            <a class="nav-link a-get" href="#" rel="nofollow"
                             >
                              <i class="fab fa-twitter text-primary fa-2x"></i>
                            </a>
                            <a class="nav-link a-get" href="https://github.com/EphilipsY" rel="nofollow"
                            >
                            <i class="fab fa-github text-dark fa-2x"></i>
                          </a>
                        </li>
                    </div>
                </div>
                    </div>
                </div>
              
            </div>
           
        
        </div>
        
    </section>
  
  
  </div>
</main>
<!--Main layout-->







{% endblock content %}