{% extends "layout/main.html" %}
{% load static %}

{% block content %}

<!-- Product Catagories Area Start -->
<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix">
            <a href="shop.html">
                <img src="{% static 'img/product1.jpg' %}" alt="">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <!--<p>From $180</p>-->
                    <h4>Books</h4>
                </div>
            </a>
        </div>

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix">
            <a href="shop.html">
                <img src="{% static 'img/product1.jpg' %}" alt="">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <!--<p>From $180</p>-->
                    <h4>Mobile Phones</h4>
                </div>
            </a>
        </div>

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix">
            <a href="shop.html">
                <img src="{% static 'img/product1.jpg' %}" alt="">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <!--<p>From $180</p>-->
                    <h4>Laptops</h4>
                </div>
            </a>
        </div>

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix">
            <a href="shop.html">
                <img src="{% static 'img/product1.jpg' %}" alt="">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <!--<p>From $180</p>-->
                    <h4>Arts & Crafts</h4>
                </div>
            </a>
        </div>

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix">
            <a href="shop.html">
                <img src="{% static 'img/product1.jpg' %}" alt="">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <!--<p>From $18</p>-->
                    <h4>Study Supplies</h4>
                </div>
            </a>
        </div>

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix">
            <a href="shop.html">
                <img src="{% static 'img/product1.jpg' %}" alt="">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <!--<p>From $320</p>-->
                    <h4>Sports</h4>
                </div>
            </a>
        </div>

        <!-- Single Catagory -->
        <!--<div class="single-products-catagory clearfix">
            <a href="shop.html">
                <img src="{% static 'img/product1.jpg' %}" alt="">
                <!-- Hover Content -->
                <!--<div class="hover-content">
                    <div class="line"></div>
                    <p>From $318</p>
                    <h4>Metallic Chair</h4>
                </div>
            </a>
        </div>

        <!-- Single Catagory -->
        <!--<div class="single-products-catagory clearfix">
            <a href="shop.html">
                <img src="{% static 'img/product1.jpg' %}" alt="">
                <!-- Hover Content -->
                <!--<div class="hover-content">
                    <div class="line"></div>
                    <p>From $318</p>
                    <h4>Modern Rocking Chair</h4>
                </div>
            </a>
        </div>

        <!-- Single Catagory -->
        <!--<div class="single-products-catagory clearfix">
            <a href="shop.html">
                <img src="{% static 'img/product1.jpg' %}" alt="">
                <!-- Hover Content -->
                <!--<div class="hover-content">
                    <div class="line"></div>
                    <p>From $318</p>
                    <h4>Home Deco</h4>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Product Catagories Area End -->

{% endblock content %}