{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
    .profile {
        border-radius: 50%;
    }

    .product-desc{
        margin:0px;
        width: 280px;
        max-width: fit-content;
    }

    .product-meta-data a{
        font-size: 25px;
        margin-right: 0px;
        text-align: center;
        vertical-align: middle;
    }

    .product-meta-data a:hover{
        color:#fbb710;
    }

    .report{
        display: inline-block;
        min-width: 50px;
        height: 50px;
        color: black;
        padding: 0 7px !important;
        font-size: 24px;
        line-height: 56px;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
    }

    .report:hover {
        color: #fb3310;
    }

    .delete-product-btn{
        display: inline-block;
        min-width: 55px;
        height: 55px;
        color: #ffffff;
        border: none;
        border-radius: 0;
        padding: 0 7px !important;
        font-size: 20px;
        line-height: 56px;
        background-color: #dc0e0e;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        /* border-radius: 5px; */
    }

    .delete-product-btn:hover{
        background-color: #000; /* Green */
        color: white;
    }

    .edit-product-btn{
        display: inline-block;
        min-width: 55px;
        height: 55px;
        color: #ffffff;
        border: none;
        border-radius: 0;
        padding: 0 7px !important;
        font-size: 20px;
        line-height: 56px;
        background-color:#1ca700;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
    }

    .edit-product-btn:hover{
        background-color: #000;
        color: white;
    }

    .main-content-wrapper .single-product-area .single_product_desc .product-meta-data .line {
        width: 120px;
        height: 3px;
        background-color: #fbb710;
        margin-top: 10px;
        display: block;
    }

    .main-content-wrapper .single-product-area .single_product_desc .product-meta-data .product-price {
        font-size: 16px;
        font-weight: 400;
        color: #000;
        line-height: 1;
        margin-bottom: 10px;
    }
</style>
    
    <!-- Product Details Area Start -->
    <div class="single-product-area clearfix">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mt-50">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Furniture</a></li>
                            <li class="breadcrumb-item"><a href="#">Chairs</a></li>
                            <li class="breadcrumb-item active" aria-current="page">white modern chair</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-7">
                    <div class="single_product_thumb">
                        <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                {% if product.image %}
                                <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url({{product.image.url}});">
                                </li>
                                {% endif %}
                            </ol>
                            <div class="carousel-inner">
                                {% if product.image %}
                                <div class="carousel-item active">
                                    <a class="gallery_img" href="{{product.image.url}}">
                                        <img class="d-block w-100" src="{{product.image.url}}" alt="First slide">
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="single_product_desc">
                        <!-- <div class="mb-15 d-flex align-items-end justify-content-between"> 
                            <a href="{% url 'user_app:profile_view' %}" data-toggle="tooltip" data-placement="right" title="View User Profile">
                            <img src="{% static 'img/image1.jpg' %}" height="100" width="100" class="profile"/>
                            </a>
                        </div>  -->
                        <!-- Product Meta Data -->
                        <div class="product-meta-data">
                            <div class="line"></div>
                            <!-- <p class="product-price">Fatima Marie Montesclaros</p> -->
                            <div class="d-flex align-items-center justify-content-between">
                                <a href="product-details.html" class="product-desc">
                                    <h6>{{product.product_name}}</h6>
                                </a>
                                <a href="{% url 'user_app:offer_view' %}" data-toggle="tooltip" data-placement="right" title="Offers"><i class="bi bi-tags-fill"></i></a>
                            </div>
                            <!-- Ratings & Review -->
                            <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <div class="review">
                                    <a href="#">Reviews</a>
                                </div>
                            </div>
                            <!-- Avaiable -->
                            <p class="avaibility"><i class="fa fa-circle"></i> In Stock</p>
                        </div>

                        <div class="short_overview my-5">
                            <p>{{product.description}} <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quae eveniet culpa officia quidem mollitia impedit iste asperiores nisi reprehenderit consequatur, autem, nostrum pariatur enim?</p>
                        </div>

                        <!-- Product Button Control -->
                        <!-- <form method="POST" action=""> {'user_app:delete_product_view'} -->
                        <div class="cart-btn d-flex mb-50">
                            <a type="button" class="btn amado-btn mb-15" data-toggle="modal" data-target="#AddModal"><i class="bi bi-plus-circle-fill"></i>&nbsp;Add Product</a>
                            <a type="button" class="edit-product-btn" title="Update" data-toggle="modal" data-target="#EditModal-{{product.id}}"><i class="bi bi-pencil-square"></i></i></a> <!--data-toggle="tooltip" data-placement="right"-->
                            <a type="submit" name="delete-btn" href="{% url 'user_app:add_product_view' %}" class="delete-product-btn" data-toggle="tooltip" data-placement="right" title="Delete"><i class="bi bi-trash-fill"></i></i></a>
                        </div>
                        <!-- </form> -->
                        
                        <!-- Edit Product Modal -->
                        <div class="modal fade modal-mg" data-backdrop="false" id="EditModal-{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="EditModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content w-75 modal-center tm-bg-primary-dark tm-block tm-block-h-auto tc-white">
                                <div class="modal-header">
                                    <h5 class="modal-title tc-white">Product Details</h5>
                                    <button type="button" class="close tc-white" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form id="updateForm" method="POST" action="{% url 'user_app:edit_product_view' %}" class="tm-edit-product-form " enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <label>Product ID</label>
                                    <input type="text" name="product_id" value ="{{product.id}}"><br>
                                    <div class="mt-2">
                                        <label for="name">Product Name</label>
                                        <input id="name" name="product_name" type="text" class="form-control validate" value ="{{product.product_name}}" >
                                    </div>
                                    <div class="mt-2">
                                        <label for="description">Description</label>
                                        <textarea class="form-control validate" name="description" rows="3" value ="{{product.description}}">{{product.description}}</textarea>
                                    </div>
                                    <div class="mt-2">
                                        <label for="category">Category</label>
                                        <select class="custom-select tm-select-accounts" id="category" name="category" value="{{product.category}}">
                                            <option disabled selected value="{{product.category}}">{{product.category}}</option>
                                            {% for category in categories %}
                                            <option>{{category.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <!-- Product Image -->
                                    <div class="modal-img" >
                                        <img src="{{product.image.url}}" alt=""> <!-- {% static 'img/product1.jpg' %} -->
                                        <!-- Hover Thumb -->
                                        <!-- <img class="hover-img" src="{% static 'images/clothes1.jpg' %}" alt=""> -->
                                    </div>
                                    <div class="custom-file mt-3 mb-3">
                                        <input name="images" id="fileInput" type="file" class="btn btn-primary btn-block mx-auto" value="{{product.image}}"/> <!--multiple-->
                                    </div>
                                    <!-- <div class="mb-3">
                                        <label for="formFile" class="form-label">Default file input example</label>
                                        <input class="btn btn-primary btn-block mx-aut" type="file" id="formFile">
                                    </div> -->
                                    <!-- <div class="mb-3">
                                        <label for="formFileMultiple" class="form-label">Multiple files input example</label>
                                        <input class="form-control" type="file" id="formFileMultiple" multiple>
                                    </div> -->
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" id = "btnUpdate" name = "updateProduct" class="btn btn-primary">UPDATE</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                                </div>
                                </form>
                            </div>
                            </div>
                        </div>
                        <!-- End of Edit Product Modal -->

                        <!-- Add Product Modal -->
                        <div class="modal fade modal-mg" data-backdrop="false" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="EditModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content w-75 modal-center tm-bg-primary-dark tm-block tm-block-h-auto tc-white">
                                <div class="modal-header">
                                    <h5 class="modal-title tc-white">Product Details</h5>
                                    <button type="button" class="close tc-white" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form id="updateForm" method="POST" action="{% url 'user_app:add_product_view' %}" class="tm-edit-product-form " enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="mt-2">
                                        <label for="name">Product Name</label>
                                        <input id="name" name="product_name" type="text" class="form-control validate" required>
                                    </div>
                                    <div class="mt-2">
                                        <label for="description">Description</label>
                                        <textarea class="form-control validate" name="description" rows="3" required></textarea>
                                    </div>
                                    <div class="mt-2">
                                        <label for="category">Category</label>
                                        <select class="custom-select tm-select-accounts" id="category" name="category" required>
                                            <option disabled selected>Select Category</option>
                                            {% for category in categories %}
                                            <option>{{category.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <!-- Product Image -->
                                    <!-- <div class="modal-img" >
                                        <img src="{{product.image.url}}" alt=""> {% static 'img/product1.jpg' %} -->
                                        <!-- Hover Thumb -->
                                        <!-- <img class="hover-img" src="{% static 'images/clothes1.jpg' %}" alt=""> -->
                                    <!-- </div> -->
                                    <div class="custom-file mt-3 mb-3">
                                        <input name="images" id="fileInput" type="file" class="btn btn-primary btn-block mx-auto" required> <!--multiple-->
                                    </div>
                                    <!-- <div class="mb-3">
                                        <label for="formFile" class="form-label">Default file input example</label>
                                        <input class="btn btn-primary btn-block mx-aut" type="file" id="formFile">
                                    </div> -->
                                    <!-- <div class="mb-3">
                                        <label for="formFileMultiple" class="form-label">Multiple files input example</label>
                                        <input class="form-control" type="file" id="formFileMultiple" multiple>
                                    </div> -->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                                    <input type="submit" class="btn btn-primary" value="ADD">
                                </div>
                                </form>
                            </div>
                            </div>
                        </div>
                        <!-- End of Add Product Modal -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Details Area End -->
{% endblock content %}
