{% extends "layout/main.html" %}
{% load static %}

{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;
}

.round {
  border-radius: 50%;
}
</style>

<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">
        <div class="container tm-mt-big tm-mb-big">
            <div class="row">
              <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                  {% for offer in offer %}
                  <div class="product-img">
                    <p style="float: right; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
                      <img src="{{offer.image.url}}" alt="">
            
                  </div>
                  
                  <div class="row">
                    <form method="POST" action="">
                      <div class="row">
                          
                          <!-- Single Product Area -->
                          <div class="col-12 col-sm-6 col-md-12 col-xl-6">
                              <div class="single-product-wrapper">
                                  <div id="divCheckbox" style="display: none;">
                                      <input
                                      name="product_id"
                                      type="text"
                                      value="{{product.id}}"/>
                                  </div>
                                  <h6>My Offer</h6>
                                  <div class="short_overview my-5">
                                    <p>{{product.description}} <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quae eveniet culpa officia quidem mollitia impedit iste asperiores nisi reprehenderit consequatur, autem, nostrum pariatur enim?</p>
                                </div>
    
                                  <div class="product-description d-flex align-items-center justify-content-between product-padding">
                                      <div class="product-meta-data">
                                          <div class="line"></div>
                                          <a href="{% url 'user_app:profile_view'%}">
                                              <h6>{{offer.offer_name}}</h6>
                                          </a>
                                      </div>
                                          
                                      </div>
                                  </div>
      
                                  <div class="col-12 mt-4">
                                    <a href="#" class="previous round">&#8249;</a>
                                    <a href="#" class="next round">&#8250;</a>      
                                 </div>
  
                        </div>
                        <div class="cart-btn d-flex mb-50">
                          <a type="button" class="edit-product-btn" title="Update" data-toggle="modal" data-target="#EditModal-{{product.id}}"><i class="bi bi-pencil-square"></i></i></a>
                          <a type="submit" name="delete-btn" href="{% url 'user_app:add_offer_view' %}" class="delete-product-btn" data-toggle="tooltip" data-placement="right" title="Delete"><i class="bi bi-trash-fill"></i></i></a>
                      </div>
                                      
                                  </div>
                              </div>
                          </div>
                          {% empty %}
                              <h3>No photos...</h3>
                          {% endfor %}
                      </div>
                  </form>
                                   
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}