{% extends "layout/main.html" %}
{% load static %}

{% block content %}
<style type="text/css">
    .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: dimgray;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
</style>
<link rel="stylesheet" type="text/css" href="{% static 'css/pages/profile.css' %}" />
<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">
        <div class="profile container tm-mt-big tm-mb-big d-flex justify-content-center">
            <div class="card p-4">
                <div class=" image d-flex flex-column justify-content-center align-items-center"> 
                    <button class="btn btn-secondary profile-btn"> 
                        <img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100" />
                    </button> 
                    
                    <span class="name mt-3"></span> 
                    <span class="idd">{{user.first_name}} {{user.last_name}}</span>
                    <!-- <div class="d-flex flex-row justify-content-center align-items-center mt-3"> 
                        <span class="number">1069 
                            <span class="follow">Followers</span>
                        </span> 
                    </div> -->
                    <div class="px-2 rounded mt-2 mb-2 date"> 
                        <span class="join">Joined {{user.date_joined}}</span> 
                    </div>
                    <form class="w-100 mt-3">
                        <div class="row">
                            <div class="col">
                              <div class="form-group mb-3">
                                <label class="label text-secondary h6 small mb-0" for="firstname">First Name</label>
                                
                                <div>{{user.first_name}}</div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group mb-3">
                                <label class="label text-secondary h6 small mb-0" for="lastname">Last Name</label>
                                <div>{{user.last_name}}</div>
                              </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="label text-secondary h6 small mb-0" for="email">Email Address</label>
                            <div>{{user.email}}</div>
                            <input type="number" name="user-id" value = {{user.id}} hidden>
                        </div>
                        <div class="form-group mb-3">
                          <div class="form-group mb-3">
                            
                            <label class="label text-secondary h6 small mb-0" for="address">Address</label>
                            {% for add in addresses %}
                            <div>{{add.street}} {{add.brgy}} {{add.cityprovince}} {{add.zipcode}}</div>
                            {% endfor %}

                           </div>
                        </div>
                       
                    </form>
                      <div class="tab">
                         <button class="tablinks" onclick="openCity(event, 'View My Trade')">My Trade</button>
                         <button class="tablinks" onclick="openCity(event, 'View My Reports')">My Reports</button>
                         
                    </div>

                    <div id="View My Trade" class="tabcontent">
                        <h3>London</h3>
                         <p>London is the capital city of England.</p>
                    </div>

                    <div id="View My Reports" class="tabcontent">
                        <h3>Paris</h3>
                         <p>Paris is the capital of France.</p> 
                    </div>

                    <div id="Tokyo" class="tabcontent">
                        <h3>Tokyo</h3>
                        <p>Tokyo is the capital of Japan.</p>
                    </div>

                <script>
                    function openCity(evt, cityName) {
                     var i, tabcontent, tablinks;
                     tabcontent = document.getElementsByClassName("tabcontent");
                     for (i = 0; i < tabcontent.length; i++) {
                       tabcontent[i].style.display = "none";
                      }
                    tablinks = document.getElementsByClassName("tablinks");
                         for (i = 0; i < tablinks.length; i++) {
                         tablinks[i].className = tablinks[i].className.replace(" active", "");
                    }
                    document.getElementById(cityName).style.display = "block";
                        evt.currentTarget.className += " active";
                    }
                    </script>
                    <br>
                    <div class="gap-3 icons d-flex flex-row justify-content-center align-items-center"> 
                        <span><i class="fab fa-twitter"></i></span> 
                        <span><i class="fab fa-facebook-f"></i></span> 
                        <span><i class="fab fa-instagram"></i></span> 
                        <span><i class="fab fa-linkedin"></i></span> 
                    </div> 
                    <div class="d-flex mt-2"> 
                        <a href="{% url 'user_app:edit_profile_view' %}" class="edit-btn btn btn-sm btn-outline-light">Edit Profile</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}