{% extends "layout/main.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/pages/profile.css' %}" />
<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">
        <div class="profile container tm-mt-big tm-mb-big d-flex justify-content-center">
            <div class="card p-4">
                <div class=" image d-flex flex-column justify-content-center align-items-center"> 
                    <button class="btn btn-secondary profile-btn"> 
                        <img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100" />
                    </button> 
                    
                    <span class="name mt-3"></span> 
                    <span class="idd">{{user.first_name}} {{user.last_name}}</span>
                    <!-- <div class="d-flex flex-row justify-content-center align-items-center mt-3"> 
                        <span class="number">1069 
                            <span class="follow">Followers</span>
                        </span> 
                    </div> -->
                    <div class="px-2 rounded mt-2 mb-2 date"> 
                        <span class="join">Joined {{user.date_joined}}</span> 
                    </div>
                    <form class="w-100 mt-3">
                        <div class="row">
                            <div class="col">
                              <div class="form-group mb-3">
                                <label class="label text-secondary h6 small mb-0" for="firstname">First Name</label>
                                <div>{{user.first_name}}</div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group mb-3">
                                <label class="label text-secondary h6 small mb-0" for="lastname">Last Name</label>
                                <div>{{user.last_name}}</div>
                              </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="label text-secondary h6 small mb-0" for="email">Email Address</label>
                            <div>{{user.email}}</div>
                        </div>
                        <div class="form-group mb-3">
                          <div class="form-group mb-3">
                            <label class="label text-secondary h6 small mb-0" for="address">Address</label>
                            <div>{{address.street}} {{address.brgy}} {{user.cityprovince}} {{user.zipcode}}</div>
                        </div>
                        </div>
                       
                    </form>
                    <!-- <div class="gap-3 icons d-flex flex-row justify-content-center align-items-center"> 
                        <span><i class="fab fa-twitter"></i></span> 
                        <span><i class="fab fa-facebook-f"></i></span> 
                        <span><i class="fab fa-instagram"></i></span> 
                        <span><i class="fab fa-linkedin"></i></span> 
                    </div> -->
                    <div class="d-flex mt-2"> 
                        <a href="{% url 'user_app:edit_profile_view' %}" class="edit-btn btn btn-sm btn-outline-light">Edit Profile</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}