{% extends "base_user.html" %}
{% load static %}

 
{% block content %}


<style>
	/* body {
        background: #f2d6eb;
		background-image: url("/static/img/bg.jpg");
        color: gray;
      } */
	.contact
	{
		font-family: "Lato", Arial, sans-serif;
        font-size: 16px;
		line-height: 1.8;
        font-weight: normal;
		position: relative;
		min-height: 100vh;
		padding: 50px 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-size: cover;
	}
	.container .contactInfo .box .text h3
	{
		font-weight: 500;       
		color: #000000;
	}
	.contactForm   
	{
		width: 40%;
		padding: 40px;
		background: #3c3d47;
		border-radius: 10px;
	}
	.contactForm h2
	{
		padding-bottom: 10px;
		font-size: 30px;
		color: #fff;
		font-weight: 500;
	}
	.contactForm .inputBox
	{
		position: relative;
		width: 100%;
		margin-top: 10px;
	}
	.contactForm .inputBox input,
	.contactForm .inputBox textarea
	{
		width: 100%;
		padding: 5px 0;
		font-size: 16px;
		margin: 10px 0;
		border: none;
		border-bottom: 2px solid #333; 
		outline: none;
		resize: none;
	}
	.contactForm .inputBox span
	{
		position: absolute;
		left: 0;
		padding: 0px 0;
		font-size: 16px;
		margin: 10px 0;
		pointer-events: none;
		transition: 0.5s;
		color: #00bcd4;
	}
	.contactForm .inputBox input:focus ~ span,
	.contactForm .inputBox input:valid ~ span,
	.contactForm .inputBox textarea:focus ~ span,
	.contactForm .inputBox textarea:valid ~ span
	{
		color: #00bcd4;
		font-size: 12px;
		transform: translateY(-20px);
	}
	.contactForm .inputBox input[type="submit"]
	{
		width: 200px;
		background: #01d28e;
		color: #fff;
		border: none;
		cursor: pointer;
		padding: 10px;
		font-size: 18px;
		border-radius: 10px;
        width: 100%;
	}

</style>
	<section class="contact">
			<div class="contactForm">
				<form method="POST" action="{% url 'user_app:report_view' %}"> 
                    {% csrf_token %} 
					<h2>Submit Report</h2>
					
					<style>
						/* Style The Dropdown Button */
						.dropbtn {
						  background-color: #4CAF50;
						  color: white;
						  padding: 16px;
						  font-size: 16px;
						  border: none;
						  cursor: pointer;
						}
						
						/* The container <div> - needed to position the dropdown content */
						.dropdown {
						  position: relative;
						  display: inline-block;
						}
						
						/* Dropdown Content (Hidden by Default) */
						.dropdown-content {
						  display: none;
						  position: absolute;
						  background-color: #f9f9f9;
						  min-width: 160px;
						  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
						  z-index: 1;
						}
						
						/* Links inside the dropdown */
						.dropdown-content a {
						  color: black;
						  padding: 12px 16px;
						  text-decoration: none;
						  display: block;
						}
						
						/* Change color of dropdown links on hover */
						.dropdown-content a:hover {background-color: #f1f1f1}
						
						/* Show the dropdown menu on hover */
						.dropdown:hover .dropdown-content {
						  display: block;
						}
						
						/* Change the background color of the dropdown button when the dropdown content is shown */
						.dropdown:hover .dropbtn {
						  background-color: #3e8e41;
						}
						</style>
						
						<div class="form-group mb-3">
							<label
							  for="report"
							  >Type of Report</label
							>
							<select
							  class="custom-select tm-select-accounts"
							  id="report"
							  name="report"
							  required
							>
							  <option disabled selected>Select Category</option>
							  <!-- {% for category in categories %} -->
							  <!-- {{category.name}} -->
							  <option value="volvo">Defect Item</option>
							  <option>Missing Item</option>
							  <option>Report User</option>							  
							  <!-- {% endfor %} -->
							</select>
						  </div>

				 	<div class="inputBox">
						<textarea name="message" cols="20" rows="5" required></textarea>
						<span>Type your message</span>
                        
				 	</div>

					<div class="custom-file mt-3 mb-3">
                        <input name="images" id="fileInput" type="file" required class="btn btn-success btn-block mx-auto"
                        value="UPLOAD REPORT IMAGE" /> 
                    </div>
					
				 	<div class="inputBox">
						<input type="submit" name="Submit Report" value="Submit">
				 	</div>
				</form>
			</div>
		</div>
	</section>

{% endblock content %}

