{% extends "layout/main.html" %}
{% load static %}

{% block content %}

<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">
        <div class="container tm-mt-big tm-mb-big">
            <div class="row">
              <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                  <div class="row">
                    <form method="POST" action="">
                      <div class="row">

<h1>View Offer Each product</h1>

                      </div>
                  </form>
                 </div>
                </div>
            </div>
        </div>
    </div>
    </div>                    


{% endblock content %}